table {
    width: 100%;
}

th,
td {
    color: white;
    text-align: center;
}

tr:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
tr:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0);
}

td {
    padding: 2%;
}
td a {
    text-decoration: none;
    color: rgb(7, 158, 7);
}
td a:hover {
    color: rgb(18, 187, 18);
    font-weight: 600;
    text-decoration: underline;
}

th img {
    filter: invert(100%);
    width: 30px;
    margin: auto;
}

#add {
    width: 20px;
    filter: invert(50%);
    margin-left: 45%;
    margin-top: 10%;
}

#add:hover {
    filter: invert(100%);
}

.myForm {
    display: none;
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    width: 100%;
    height: 100%;
}

form {
    position: relative;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 41, 55);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.4);
    border-width: 2px;
    padding: 2%;
}

form h1,
label {
    color: white;
}
form h1 {
    margin-bottom: 4%;
    font-size: large;
}

form div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form input {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5%;
}

#add_btn {
    padding: 2%;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    color: white;
    background-color: none;
}

#close_btn {
    position: absolute;
    width: 30px;
    top: 1%;
    right: 1%;
    filter: invert(50%);
}

#close_btn:hover {
    filter: invert(100%);
}
